extends layout


block content

    #login.text-center
        h1 Login with Spotify
        if user
                a.btn.btn-primary(href='/top') Get top songs
        br
        br

        a.btn.btn-primary(href='/auth') Log in



