extends layout


block content

    #login.text-center
        h1 Login with Spotify
        if user
                a.btn.btn-primary(href='/top?timerange=short_term') Get top songs
                a.btn.btn-primary(href='/topplaylist') Get top songs playlist
        br
        br

        a.btn.btn-primary(href='/auth') Log in



