extends layout


block content
  .container
    .card.text-center
        .card-header
            ul.nav.nav-tabs.card-header-tabs
                li.nav-item
                    a.nav-link.active(href='#') Active
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item
                    a.nav-link(href='#') Disabled
        .card-body
            h5.card-title #{user.username}
            p.card-text Top songs
            a.btn.btn-primary(href='/topplaylist') Make me a playlist
            br
            br
            a.btn.btn-primary(href='/top?timerange=short_term') Get top songs
